*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.kotlin/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aab

*.jks
*.keystore

*.dump
*.log
*log*.txt

com.mod.yuanwofei.mod.apk.9.1.19.1.1/
